body {
	padding-top:40px;
	background-color:#eee;
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
.topbar a.brand {
	font-family: verdana;
	text-shadow: white 0 0 2px;
}
.dropdown-toggle img {
	vertical-align:middle;
}
#main {
	padding-top:30px;
}
#main > .row {
	position: relative;
}
#splash {
	position: absolute;
	width: 960px;
	height: 53px;
	top:0;
	left:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.tabs {
	margin-bottom:0;
}
.tabs > li > a {
	transition: background-color .2s;
	-moz-transition: background-color .2s;
	-webkit-transition: background-color .2s;
	-o-transition: background-color .2s;
}
.tabs > li > a:hover {
	background-color: #FEFBF3;
	border-color: #eee #eee #FEFBF3;
}
.todo-data {
	background-color: white;
	padding: 8px;
	border: 1px solid rgba(0,0,0,.2);
	border-top:none;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	overflow:auto;
}
.todo-data::-webkit-scrollbar{
	height:8px;
	width:8px;
}
.todo-data::-webkit-scrollbar-track-piece {
	background-color: #F6F6F6;
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
}
.todo-data::-webkit-scrollbar-thumb:vertical{
	background:#cbcbcb;
	position:absolute:
	right:5px;
	border-radius:8px 8px;
}
.todo-data::-webkit-scrollbar-thumb:vertical:hover{
	background:#AAA;
}
.container > footer {
	padding-top:0;
	margin-top:10px
}
.container > footer p {
	text-align:center;
	text-shadow:white 1px 1px 0;
	color:gray;
}

.loading {
	background:white url('../img/loading.gif') no-repeat center center;
}
.more {
	visibility: hidden;
	height: 32px;
}
.ing.more {
	visibility: visible;
}
.moving {
	background:white url('../img/moving.gif') no-repeat center center!important;
}
input.span-new {
	width:326px;
	margin-right: 8px;
}
.activities,.todos {
	list-style:none;
	margin:8px 0 0 0;
}
.activities > li,.todos > li {
	position:relative;
	padding:6px 2px 6px 30px;
	cursor:default;
	line-height:20px;
	color:#444;
	border:1px solid transparent;
	border-bottom:1px dashed #eee;
	overflow: hidden;
}
.activities > li:first-child,.todos > li:first-child {
	border-top:1px dashed #eee;
}
.activity {margin-left:-24px;}
.todo,.activity {
	word-wrap: break-word;
}

.checkbox {
	position:absolute;
	left:6px;top:6px;
	line-height:16px;
	text-align:center;
	height:16px;width:16px;
	text-indent:-999px;
	background:#ffffff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAfCAYAAADN/hxhAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADZJREFUeNp0xgkGADAQBMFs7uv/350IEdaYpikDEG728faIGomQNQqhajRC1xiEqbEI2+EIMACyIAbU7Y897gAAAABJRU5ErkJggg==) bottom left repeat-x;
	border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);-ms-box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);-o-box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);
	border:1px solid #b9b9b9;
	border-bottom-color:#999;
	border-top-color:#ccc;
	font-weight:bold;
}
.checkbox:hover {
	background-color:#ddd!important;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);-o-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
	color:#999999;
	cursor:pointer;
	text-indent:0;
	text-shadow:0 1px rgba(255, 255, 255, 0.4);
}
.checkbox:active {
	background-color:#bbb;
	border:1px solid #777;
	box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.25);-moz-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.25);-ms-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.25);-o-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.25);-webkit-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.25);
	color:#444;
	text-indent:0;
	text-shadow:0 1px rgba(255, 255, 255, 0.4);
}
li.hover {
	background:#fbfbfb;
}
li.selected{
	border: 1px solid #BE9A3F!important;
	-webkit-box-shadow: 0 0 6px #e5d6b1;
	-moz-box-shadow: 0 0 6px #e5d6b1;
	box-shadow: 0 0 6px #e5d6b1;
}
.todo-data .label{
	cursor:pointer;
	margin: 0 2px;
	text-transform: none;
	font-size:13px;
}
.tags {
	padding:20px;
}
.tags .label {
	white-space:normal;
	margin:2px;
	display:inline-block;
	zoom:1;
	*display:inline-block;
}
li.done .todo{
	text-decoration: line-through;
	color: #999;
}
li.done .checkbox {
	background-color:#f3f3f3;
	border-bottom-color:#ccc;border-top-color:#999;
	box-shadow:0 1px 0 #ffffff;-moz-box-shadow:0 1px 0 #ffffff;-ms-box-shadow:0 1px 0 #ffffff;-o-box-shadow:0 1px 0 #ffffff;-webkit-box-shadow:0 1px 0 #ffffff;
	text-indent:0;
}
.op {
	padding: 6px 2px 6px 40px;
	background: url('../img/op-bg.png') 0 center no-repeat;
	position: absolute;
	right: -188px;
	top: 0;
	color: #099;
	opacity: 0;
	-webkit-transition: right .2s;
	-moz-transition: right .2s;
	-ms-transition: right .2s;
	-o-transition: right .2s;
	transition: right .2s;
}
.hover.op {
	right: 0;
}
.op > div {
	float: left;
	margin-left: 8px;
}
.arrow {
	background: url('../img/op2.png?1') 0 -64px no-repeat;
	width: 8px;
	text-indent: -9999px;
	opacity: 1;
}
.hover.op .arrow {
	opacity: .3;
}
.edit, .del, .t2a, .a2t, .timestamp{
	background: url('../img/op2.png?1') 0 0 no-repeat;
	padding-left: 16px;
	cursor: pointer;
}
.edit {
	background-position:0 4px;
}
.del{
	background-position:0 -13px;
}
.t2a{
	background-position:0 -30px;
}
.a2t{
	background-position:0 -46px;
}
.timestamp{
	padding-left: 0;
	margin-left: 14px!important;
	cursor: default;
	width: 12px;
	text-indent: -9999px;
	background-position:0 -80px;
}
.hover .op {
	opacity: 1;
}
.moving .op {
	opacity: 0;
}
.del-confirm {
	position: absolute;
	top:-30px;
	left:414px;
	z-index:9;
}
/*
color patterns from http://911.im/W
*/
.cl0 {
	background: #000000;
}
.cl1 {
	background: #1693A5;
}
.cl2 {
	background: #FBB829;
}
.cl3 {
	background: #FF0000;
}
.cl4 {
	background: #FF0066;
}
.cl5 {
	background: #ADD8C7;
}
.cl6 {
	background: #556270;
}
.cl7 {
	background: #333333;
}
.cl8 {
	background: #F02311;
}
.cl9 {
	background: #FF9900;
}
.cl10 {
	background: #800F25;
}
.cl11{
	background: #2A8FBD;
}
.cl12 {
	background: #A40802;
}
.cl13 {
	background: #FF5EAA;
}
.cl14 {
	background: #666666;
}
.cl15 {
	background: #AD234B;
}
.cl16 {
	background: #6CDFEA;
}
.cl17 {
	background: #77CCA4;
}
.cl18 {
	background: #FF0033;
}
.cl19 {
	background: #025D8C;
}
.cl20 {
	background: #FE4365;
}
.cl21 {
	background: #C7F464;
}
.cl22 {
	background: #7F94B0;
}
.cl23 {
	background: #FF4040;
}
.cl24 {
	background: #948C75;
}
.cl25 {
	background: #E73525;
}
.cl26 {
	background: #999999;
}
.cl27 {
	background: #420943;
}
.cl28 {
	background: #FF6666;
}
.cl29 {
	background: #7FAF1B;
}
.inputerror {
	color: #B94A48;
	border-color: #EE5F5B;
}
.inputerror:focus {
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}
.tools #cur.active, .tools #last.active {
	display: block;
}
.tools .todo-data {
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 20px;
}
.tools .todo-data small {
	margin-left: 10px;
}
.tools .todo-data dt {
	font-size:18px;
}
.tools .todo-data ol {
	margin-left: 50px;
}
.tools .todo-data ol li {
	font-size:14px;
	color: #404040;
	line-height: 24px;
}
.tools .todo-data span.label {
	cursor: default;
}
