<!DOCTYPE html>{% load i18n %}
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>{% trans '计划.IN' %}</title>
		<meta name="author" content="yc" />
		<meta name="keywords" content="计划,工作计划表,todo,todo list,计划.in" />
		<meta name="description" content="{% trans '计划.IN——简单有效的工作计划表' %}" />
		<link href="{{ settings.MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet" />
		{% block css %}{% endblock %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ settings.MEDIA_URL }}favicon.ico" />
		<!--[if lt IE 9]>
			<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% block js %}{% endblock %}
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ settings.GA_ID }}']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container">
					<a class="brand" href="/">{% trans '计划.IN' %}</a>
					{% if user.is_authenticated %}
					<ul class="nav">
						<li class="index {% block index-menu %}{% endblock %}"><a href="/">{% trans '首页' %}</a></li>
						<li class="report {% block report-menu %}{% endblock %}"><a href="/report/">{% trans '周报' %}</a></li>
						<li class="tools {% block tools-menu %}{% endblock %}"><a href="/tools/">{% trans '小工具' %}</a></li>
					</ul>
						{% if search %}
						<form action="">
							<input type="search" id="search" placeholder="{% trans '搜索' %}" />
						</form>
						{% endif %}
					<ul class="nav secondary-nav">
						<li class="dropdown" data-dropdown="dropdown">
							<a href="#" class="dropdown-toggle">{{ user.username }}</a>
							<ul class="dropdown-menu">
								<!--li><a href="/settings/">{% trans '偏好设置' %}</a></li-->
								<li><a href="/change_passwd/">{% trans '修改密码' %}</a></li>
								<li><a href="/help/">{% trans '帮助' %}</a></li>
								<li class="divider"></li>
								<li><a href="/signout/">{% trans '退出' %}</a></li>
							</ul>
						</li>
					</ul>
					{% else %}
					<form action="/signin/" class="pull-right" method="post" id="login-form">
						<input name="username" id="username" class="input-small" type="text" placeholder="{% trans '用户名' %}" required="required" />
						<input name="password" id="password" class="input-small" type="password" placeholder="{% trans '密码' %}" required="required" />
						{% csrf_token %}
						<button class="btn" type="submit">{% trans '登录' %}</button>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
		{% block container %}{% endblock %}
		{% block footer %}
			<div class="container">
				<footer>
					<p>&copy; 2012. Created by <a href="http://ichuan.net/">yc</a> | <a href="/help/" title="{% trans '帮助' %}">Help</a> | <a title="{% trans '更新日志' %}" href="/changelog/">Changelog</a></p>
				</footer>
			</div>
		{% endblock %}
	</body>
</html>
