{% extends 'base.html' %}
{% load i18n %}

{% block js %}
	{% if user.is_authenticated %}
	<script src="{{ settings.MEDIA_URL }}js/jquery.min.js" /></script>
	<script src="{{ settings.MEDIA_URL }}js/bootstrap-dropdown.js" /></script>
	{% endif %}
{% endblock %}

{% block css %}
<link href="{{ settings.MEDIA_URL }}css/public.css" rel="stylesheet">
<style>
.row{
	margin-bottom:10px;
}
#logs {
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
#logs:hover {
	-webkit-mask-image: none;
}
</style>
{% endblock %}

{% block container %}
<div class="container">
	<div class="row" id="logs">
		<div class="span16">
			<div class="page-header">
				<h1>计划.IN 发展历程</h1>
			</div>
			<h3>2012/01/02</h3>
			<p>
				功能完善：
				<ol>
					<li>标签颜色更换，由 15 种增至 30 种</li>
					<li>增加 changelog 页面</li>
					<li>条目操作区域重新制作，减少一次鼠标点击</li>
					<li>人性化的条目添加时间显示</li>
					<li>可以使用 vi 中的快捷键 <code>h</code>、<code>j</code>、<code>k</code>、<code>l</code> 来选中条目，选中后按 <code>e</code> 可编辑；按 <code>d</code> 可删除；按 <code>&rarr;</code> 或 <code>&larr;</code> 键可将条目在计划和活动间移动；按 <code>回车</code> 可在“完成”与“未完成”间切换 。按 <code>ESC</code> 可取消选中状态</li>
					<li>增加顶级菜单</li>
					<li>周报增加上周内容、增加完成率展示</li>
				</ol>
			</p>
			<h3>2011/12/27</h3>
			<p>网站由 DirectSpace <a href="http://ichuan.net/post/37/transfered-to-linode/">转移</a>至 Linode</p>
			<h3>2011/12/14</h3>
			<p>计划.IN <a href="http://ichuan.net/post/34/jihua-in-is-open-sourced/">开源</a>（<a href="https://github.com/ichuan/jihua">github</a>）</p>
			<h3>2011/12/03</h3>
			<p>
				<a href="http://ichuan.net/post/32/jihua-in-dev-process/">Bug 修正</a>：
				<ol>
					<li>右上角用户名一直不变 （NicYun 提出）</li>
					<li>搜索功能故障（hysia 提出）</li>
					<li>搜索特殊字符会导致浏览器卡死（G 提出）</li>
				</ol>
			</p>
			<h3>2011/11/28</h3>
			<p>购买域名、空间，完成第一版代码，计划.IN <a href="http://ichuan.net/post/30/jihua-in-is-online/">上线</a></p>
		</div>
	</div>
{% endblock %}
