{% extends 'base.html' %}
{% load i18n %}

{% block css %}
<link href="{{ settings.MEDIA_URL }}css/private.css" rel="stylesheet">
{% endblock %}

{% block title %}{% trans '修改密码' %} - {% endblock %}

{% block js %}
<script src="{{ settings.MEDIA_URL }}js/jquery.min.js" /></script>
<script src="{{ settings.MEDIA_URL }}js/bootstrap-dropdown.js" /></script>
<script>
$(function(){
	$('.help-inline').each(function(){
		$(this).prev().addClass('error').parent().parent().addClass('error');
	});
});
</script>
{% endblock %}

{% block container %}
<div class="container">
	<div class="hero-unit row">
		<div class="span14">
			<form action="/change_passwd/" method="post" id="changepass-form">{% csrf_token %}
				<fieldset>
					<legend>{% trans '修改密码' %}</legend>
					<div class="clearfix">
						<label for="old_password">{% trans '当前密码' %}</label>
						<div class="input">
							<input class="xlarge" id="old_password" name="old_password" type="password" size="30" type="text" required="required" autofocus="autofocus" />
							{% if form.old_password.errors %}
							<span class="help-inline">{{ form.old_password.errors.0 }}</span>
							{% endif %}
						</div>
					</div>
					<div class="clearfix">
						<label for="new_password1">{% trans '新密码' %}</label>
						<div class="input">
							<input class="xlarge" id="new_password1" name="new_password1" type="password" size="30" type="text" required="required" />
							{% if form.new_password1.errors %}
							<span class="help-inline">{{ form.new_password1.errors.0 }}</span>
							{% endif %}
						</div>
					</div>
					<div class="clearfix">
						<label for="new_password2">{% trans '确认新密码' %}</label>
						<div class="input">
							<input class="xlarge" id="new_password2" name="new_password2" type="password" size="30" type="text" required="required" />
							{% if form.new_password2.errors %}
							<span class="help-inline">{{ form.new_password2.errors.0 }}</span>
							{% endif %}
						</div>
					</div>
					<div class="actions">
						<input type="submit" class="btn primary" value="{% trans '保存' %}" />
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
