{% extends 'base.html' %}
{% load i18n %}

{% block css %}
<link href="{{ settings.MEDIA_URL }}css/jihua.min.css?20120216" rel="stylesheet">
<link href="{{ settings.MEDIA_URL }}css/jquery-ui.min.css" rel="stylesheet">
{% endblock %}

{% block index-menu %}active{% endblock %}

{% block title %}{% trans '首页' %} - {% endblock %}

{% block js %}
<script src="{{ settings.MEDIA_URL }}js/LAB.min.js"></script>
<script>
// time sync between server & browser
!function(){
	var i = new Date({{ now }}), add = i - new Date;
	window.now = function(){
		var j = new Date;
		return new Date(j.getTime() + add);
	};
	window.todayts = function(){
		var x = now();
		return new Date(x.getFullYear(), x.getMonth(), x.getDate());
	};
}();
$LAB
.script('{{ settings.MEDIA_URL }}js/underscore-min.js')
.script('{{ settings.MEDIA_URL }}js/jquery.min.js').wait()
.script('{{ settings.MEDIA_URL }}js/backbone-min.js')
.script('{{ settings.MEDIA_URL }}js/bootstrap-dropdown.js')
.script('{{ settings.MEDIA_URL }}js/bootstrap-buttons.js')
.script('{{ settings.MEDIA_URL }}js/bootstrap-twipsy.js')
.script('{{ settings.MEDIA_URL }}js/jquery-ui.min.js')
.script('{{ settings.MEDIA_URL }}js/utils.js')
.script('{{ settings.MEDIA_URL }}js/bootstrap-modal.js').wait()
.script('{{ settings.MEDIA_URL }}js/jihua.min.js?20120217').wait(function(){
	window.initTodos = JSON.parse(atob('{{ todos|safe }}'));
	window.initActivities = JSON.parse(atob('{{ activities|safe }}'));
	$(function(){
		new window.Jihua;
		Backbone.history.start();
	});
})
</script>
{% endblock %}

{% block container %}
	<div class="container" id="main">
		<div class="row">
			<div class="span8">
				<ul class="tabs" id="left-tab">
					<li><a href="#!/today">{% trans '今日' %}</a></li>
					<li><a href="#!/yesterday">{% trans '昨日' %}</a></li>
					<li><a href="#!/undone">{% trans '未完成' %}</a></li>
					<li class="dropdown" data-dropdown="dropdown">
						<a href="#!/history" class="dropdown-toggle">{% trans '历史' %}</a>
						<ul class="dropdown-menu">
							<li><a href="#!/this/week">{% trans '本周' %}</a></li>
							<li><a href="#!/last/week">{% trans '上周' %}</a></li>
							<li><a href="#!/this/month">{% trans '本月' %}</a></li>
							<li class="divider"></li>
							<li><a href="#!/range">{% trans '某个时间段' %}</a></li>
						</ul>
					<li><a href="#!/tags">{% trans '标签' %}</a></li>
				</ul>
				<div class="todo-data">
				</div>
			</div>
			<div class="span8">
				<ul class="tabs" data-tabs="tabs">
					<li class="active"><a href="#!/activity">{% trans '活动清单' %}</a></li>
				</ul>
			</div>
			<div id="splash" class="loading"></div>
		</div>
	</div>
{% endblock %}
