{% extends 'base.html' %}
{% load i18n %}

{% block css %}
<link href="{{ settings.MEDIA_URL }}css/public.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{{ settings.MEDIA_URL }}js/jquery.min.js" /></script>
<script>
$(function(){
	$('.help-inline').each(function(){
		$(this).prev().addClass('error').parent().parent().addClass('error');
	});
});
</script>
{% endblock %}

{% block container %}
<div class="container signup">
	<div class="hero-unit row">
		<div class="span14">
			{% if form.errors %}
			<div class="alert-message error">
				<p>{% trans '用户名或密码输入错误' %}</p>
			</div>
			{% endif %}
			<form action="/signin/" method="post" id="signin-form">{% csrf_token %}
				<fieldset>
					<legend>{% trans '登录' %}</legend>
					<div class="clearfix">
						<label for="username1">{% trans '用户名' %}</label>
						<div class="input">
							<input class="xlarge" id="username1" name="username" value="{{ form.username.value|default_if_none:'' }}" size="30" type="text" autofocus="autofocus" required="required" />
							{% if form.username.errors %}
							<span class="help-inline">{{ form.username.errors.0 }}</span>
							{% endif %}
						</div>
					</div>
					<div class="clearfix">
						<label for="password1">{% trans '密码' %}</label>
						<div class="input">
							<input class="xlarge" id="password1" name="password" type="password" size="30" type="text" required="required" />
							{% if form.password1.errors %}
							<span class="help-inline">{{ form.password.errors.0 }}</span>
							{% endif %}
						</div>
					</div>
					<div class="actions">
						<input type="submit" class="btn primary" value="{% trans '登录' %}" />
						<a href="/reset_passwd/">{% trans '忘记密码了？' %}</a>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
