{% extends 'base.html' %}
{% load i18n %}

{% block css %}
<link href="{{ settings.MEDIA_URL }}css/jihua.min.css?20120102" rel="stylesheet">
{% endblock %}

{% block tools-menu %}active{% endblock %}

{% block title %}{% trans '小工具' %} - {% endblock %}

{% block js %}
<script src="{{ settings.MEDIA_URL }}js/LAB.min.js"></script>
<script>
$LAB
.script('{{ settings.MEDIA_URL }}js/jquery.min.js').wait()
.script('{{ settings.MEDIA_URL }}js/bootstrap-dropdown.js')
.script('{{ settings.MEDIA_URL }}js/bootstrap-tabs.js')
.script('{{ settings.MEDIA_URL }}js/bootstrap-buttons.js').wait(function(){
	$(function(){
	});
})
</script>
{% endblock %}

{% block container %}
	<div class="container tools" id="main">
		<div class="row">
			<div class="span16">
				<ul class="pills" data-pills="pills">
					<li class="active"><a href="#export">{% trans '数据导出' %}</a></li>
				</ul>
				<div id="export" class="todo-data">
					Coming soon...
				</div>
			</div>
		</div>
	</div>
{% endblock %}
